# Ignora la cartella node_modules
node_modules/

ffmpeg/ffmpeg.exe
ffmpeg/ffbrobe.exe

# Ignore all files in the python directory
python/*

# Except for download_songs.py
!python/download_songs.py

.DS_Store
Thumbs.db
build/
dist/
npm-debug.log
yarn-error.log
.idea/
.vscode/
coverage/
*.log